<%- include("partials/header") -%>

<div class="about">
  <h1>Hello there!</h1>
  <p>
    This is Skylar's Personal Blog. I will record the life, diary, note from
    classes in here.
  </p>
  <p>
    I majored in Materials Science and
    Engineering for my undergraduate degree. Now, I am a master student
    major in Computer Science at Northeastern University. I'm still
    working hard on my courses and projects and learning new things every
    day to build up my technical skills. I'm sure I can be a fantastic
    full-stack Software Engineering in the furture!💥
  </p>

  <hr />
  <div class="develop-tools">
    <p><strong>This app is developed by:</strong></p>
    <p>HTML, CSS and Javascript</p>
    <p>Bootstrap Framework</p>
    <p>Node.js environment</p>
    <p>Express.js</p>
    <p>MongoDB Atlas Database</p>
    <p>Heroku</p>
  </div>

</div>

<%- include("partials/footer") -%>
