<%- include("partials/header") -%>

<div class="about">
  <h1>Hello there!</h1>
  <p>
    This is Skylar's Personal Blog. I will record the life, diary, note from
    classes in here.
  </p>

  <hr />
  <p>This app is developed by:</p>
  <p>HTML, CSS and Javascript</p>
  <p>Bootstrap Framework</p>
  <p>Node.js environment</p>
  <p>Express.js</p>
  <p>MongoDB Atlas Database</p>
  <p>Heroku</p>
</div>

<%- include("partials/footer") -%>
