<%- include("partials/header") -%>


<div class="contact">
  <img class="my-photo" src="images/skylar_photo_1.jpg" alt="skylar_photo" />
  <div class="row">
    <div class="col-lg-4">
      <a href="mailto:li.zhuoha@northeastern.edu"
        ><i class="icon fa-solid fa-envelope-circle-check"></i
      ></a>
      <p>Contact me via Email</p>
    </div>
    <div class="col-lg-4">
      <a href="https://github.com/SkylarZhuo"
        ><i class="icon fa-brands fa-github"></i
      ></a>
      <p>Contact me via Github</p>
    </div>
    <div class="col-lg-4">
      <a href="linkedin.com/in/zhuohang-skylar-li-6895221a5"
        ><i class="icon fa-brands fa-linkedin"></i
      ></a>
      <p>Contact me via LinkedIn</p>
    </div>
    <div class="col-lg-4">
      <a href="https://www.facebook.com/"
        ><i class="icon fa-brands fa-facebook"></i
      ></a>
      <p>Contact me via FaceBook</p>
    </div>
    <div class="col-lg-4">
      <a href="https://www.instagram.com/?hl=en"
        ><i class="icon fa-brands fa-instagram"></i
      ></a>
      <p>Contact me via instagram</p>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
